*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #020021;
    font-family: 'Patua One', sans-serif !important;
}

.header {
    background:#020021;
    width: 100vw;
    height: 20%;
}
#logo{

    margin-left: 115px !important;
    margin-top: 15px !important;
}

.nav{

    white-space: nowrap;
    color: white !important;
    font-weight: bold;
    padding: 0 1.5rem;
    transition: all ease 0.7s;
}

.nav li a:hover {
    color: #00F582 !important;
    filter: drop-shadow(2px 2px 5px  #00F582)
}
#data-singup {
    color: #00F582 !important;
}
li:nth-of-type(4) {
    border-right: 2px solid white;
}

.main {
    background: #020021;
    height: 80%;
    width: 100vw;
}


#encabezado-texto{
    margin: 0 auto;
    font-size: 50px;
    color:#ffffff !important;
    font-weight: bold !important;
}

#encabezado-texto:hover{
    color: #00F582 !important;
}
#encabezado-parrafo{
    margin: 20px auto;
    font-size: 13px;
    color: #534C6C !important;
}

.boton-1{
    margin: 15px auto;
    width: 160px;
    height: 43px;
    font-size: 14px;
    background: #00F582;
    border-radius: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
}
.boton-1:hover{
    box-shadow: 1px 1px 10px #00F582;
    cursor: pointer;
    animation: heart 1.3s ease infinite;
}

@keyframes heart {
    0% {
    }
    50% {
        transform: scale(1.1);
    }
    100% {
    }
}


.bombo{

    position: absolute;
    width: 20%;
    height: 30%;
    font-size: 14px;
    background-color:transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
    left: 28.5%;
    top: 15.5%;

}

.hit-hat{

    position: absolute;
    width: 20%;
    height: 30%;
    font-size: 14px;
    background: transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    right: 29%;
    top:15.5%;
}
 
.redoblante{

    position: absolute;
    width: 20%;
    height: 30%;
    font-size: 14px;
    background: transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
    left: 17%;
    top: 53%;

}

.crash{
    
    position: absolute;
    width: 20%;
    height: 30%;
    font-size: 14px;
    background-color:transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
    left: 63%;
    top: 53%;

}
.tom-1{

    position: absolute;
    width: 15%;
    height: 22%;
    font-size: 14px;
    background-color: transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
    left: 4.2%;
    top:6%;
}
.tom-2{

    position: absolute;
    width: 15%;
    height: 22%;
    font-size: 14px;
    background-color: transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
    right: 5%;
    top: 6%;
}
.tom-3{

    position: absolute;
    width: 15%;
    height: 22%;
    font-size: 14px;
    background-color: transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
    left: 11%;
    top:28.5%;
}
.tom-4{

    position: absolute;
    width: 15%;
    height: 22%;
    font-size: 14px;
    background-color: transparent;
    border-radius: 100%;
    color: #534e4e;
    outline: none !important;
    border: none;
    font-weight: 600;
    transition: all ease 0.5s;
    right: 12%;
    top:28.5%;
}
.difuminado{
    background-color:  #370B6E;
    position: relative;
    width: 100%;
    border-radius: 150%;
    filter: blur(3rem); 
    margin-top: 1rem;
    margin: auto;
    right: 40vh;
    top: 8vh;
}

.footer {
    background: #020021;
    height: 20%;
    width: 100vw;
}

.encabezado-footer{
    color: white !important;
    font-size: 20px;
    font-weight: bold !important;
}

.parrafo-footer{
    color: gray;
    font-size: 11px;
}

.boton-2{
    padding: 11px 15px;
    border-radius: 30px;
    font-weight: bold;
    background: white;
    color: #10102C;
    border: none;
    outline: none;
    transition: all ease 0.5s;
}

.boton-2:hover {
    box-shadow: 1px 1px 10px #ffff;
    cursor: pointer;
}

.showcase-text h1 {
    font-size: 3rem;
}
.radio{

}


